.App-header {
  background-color: #282c34; 
  min-height: 10vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px 0;
  font-size: calc(10px + 2vmin);
  color: white; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.App-logo {
  height: 80%; 
  width: 100%; 
  pointer-events: none; 
}

.App-link {
  color: #61dafb; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.App-link:hover {
  color: #21a1f1;
}