.main-div{
    margin: 40px auto;
    padding: 20px;
    background-color: #282c34;
}

.survey-title{
    color: orange;
    padding-top: 3%;
    padding-bottom: 10%;
}

.genres-list {
    list-style-type: none;
    padding: 0;
}

.genres-list li {
    display: inline-block;
    margin: 5px;
    flex: auto;
}

.genre-button {
    padding: 50px 100px;
    font-size: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.genre-button:hover {
    background-color: #e0e0e0;
}

.genre-button.selected {
    background-color: orange;
    color: black;
    border-color: orange;
}

.error-message{
    color: orange;
    font-size: xx-large;
}

.next-page{
    align-self: right;
}