* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.return-div {
    background-color: white;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 40px auto;
    transition: 250ms ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.return-div:hover {
    transform: scale(1.01);
}

.guitar-image {
    width: 200px;
    height: auto;
    padding: 20px;
}

.guitar-text {
    text-align: left;
    padding: 20px;
    color: orange;
}

.guitar-description {
    padding-top: 10px;
    color: #282c34;
}

.next-button {
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    margin-bottom: 10px;
    background-color: #FAF9F6;
    color: #111827;
    cursor: pointer;
    padding: 2px 24px;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-top: auto;
}

.next-button:hover {
    background-color: #fff;
}
