* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.return-div {
    background-color: white;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px auto;
    transition: 250ms ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    flex-grow: 1;
    align-items: center;
}

.return-div:hover {
    transform: scale(1.01);
}

.guitar-image {
    width: 200px;
    height: auto;
    padding: 20px;
}

.guitar-text {
    text-align: center;
    padding: 20px;
    color: orange;
}

.guitar-description {
    padding-top: 10px;
    color: #282c34;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns button to the right */
    padding: 10px 20px; /* Optional padding */
    position: fixed; /* Fixes the button to the bottom */
    bottom: 12%; /* Distance from bottom */
    right: 10px; /* Distance from right */
    width: calc(100% - 10px); /* Full width minus margins */
}

.next-button {
    padding: 15px 30px; /* Same padding as .button */
    font-size: 1.5rem; /* Same font size as .button */
    background-color: #007bff; /* Blue background */
    color: white; /* White text color for contrast */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Same border radius */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.next-button:hover {
    background-color: #0061c9; /* Darker blue on hover */
    transform: translateY(-2px);
}
