* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.return-div {
    background-color: white;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px auto;
    transition: 250ms ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    flex-grow: 1;
    align-items: center;
}

.return-div:hover {
    transform: scale(1.01);
}

.guitar-image {
    width: 200px;
    height: auto;
    padding: 20px;
}

.guitar-text {
    text-align: center;
    padding: 20px;
    color: orange;
}

.guitar-description {
    padding-top: 10px;
    color: #282c34;
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    padding: 10px 20px; 
    position: fixed; 
    bottom: 12%; 
    right: 10px; 
    width: calc(100% - 10px); 
}

.next-button {
    padding: 15px 30px; 
    font-size: 1.5rem; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.next-button:hover {
    background-color: #0061c9; 
    transform: translateY(-2px);
}

.loading-gear{
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 3rem; 
    font-weight: bold; 
    color: orange; 
    text-align: center; 
    z-index: 1000; 
    padding: 20px; 
    border-radius: 8px; 
}

.filter-section {
    text-align: left;
    margin-bottom: 20px; 
    color: white;
    margin-left: 20px;
}

.filter-section label {
    font-weight: bold; 
    display: block; 
    margin-bottom: 10px; 
    margin-top: 20px;
    font-size: 1.5rem;
}

input[type="range"] {
    width: 150px; 
    margin-top: 10px; 
}

.filter-and-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 1000;
}

.restart-button{
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.restart-button:hover{
    background-color: #0061c9;
    transform: translateY(-2px);
}