.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.parent-component {
    flex: 1; 
}

.footer {
    color: orange;
    padding: 40px; 
    text-align: center; 
}