#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-header {
    margin-top: 20px;
    text-align: center;
    color: orange;
    font-size: 40px;
}

#start-button {
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 5%;
    text-align: center;
    border: 3px solid orange;
    transition: 250ms ease-in-out;
    font-weight: bold;
}

#start-button:hover {
    transform: scale(1.05);
}

.steps-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0;
}

.step-div {
    flex: 1; 
    margin: 0; 
    padding: 10px;
    background-color: #494949;
    text-align: center;
    border: 1px solid black;
    color: rgb(189, 123, 0);
}

.lander-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;  
}

.lander-image {
    width: 300px;           
    height: auto;      
}
